<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>重庆求职防坑手册 - 增加公司</title>
    <link rel="shortcut icon" href="img/main.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/frozenui/css/frozen.css"/>
</head>
<body>
<div id="app">
    <div class="ui-row-flex ui-whitespace">
        <div class="ui-col ui-col-1 ui-flex ui-flex-pack-start"><a href="index3.htm"><i class="ui-icon-return"></i></a></div>
        <div class="ui-col ui-col-3 ui-flex ui-flex-pack-center ui-flex-align-center"><h1>新增公司</h1></div>
        <div class="ui-col ui-col-1 ui-flex ui-flex-pack-end"></div>
    </div>
    <div class="ui-form">
        <form name="form" action="#">
            <div class="ui-form-item ui-border-b">
                <label for="#">
                    公司名称
                </label>
                <input v-model="entity.name" name="cpName" type="text" placeholder="请输入公司名称"/>
            </div>
            <div class="ui-form-item ui-border-b">
                <div id="typeDiv">
                    <label class="ui-checkbox ui-checkbox-s" for="ck1">垃圾公司
                        <input id="ck1" name="type" value="0" type="radio" v-model="entity.type"/>
                    </label>
                    <label class="ui-checkbox ui-checkbox-s" for="ck2">福利公司
                        <input id="ck2" name="type" value="1" type="radio" v-model="entity.type"/>
                    </label>
                </div>
            </div>
            <div class="ui-form-item ui-border-b">
                <label for="#">
                    公司描述
                </label>
                <textarea name="desc" rows="3" v-model="entity.desc" placeholder="请输入公司描述"></textarea>
            </div>
            <div class="ui-form-item ui-border-b">
                <label for="#">
                    公司地址
                </label>
                <textarea name="desc" rows="3" v-model="entity.address" placeholder="请输入公司地址"></textarea>
            </div>
        </form>
        <div class="ui-dialog-ft ui-btn-group">
            <button id="btn_commit" type="button" data-role="button" class="select" onclick="saveCompany()">保存</button>
            <button type="button" data-role="button" class="select" onclick="history.go(-1)">返回</button>
        </div>
    </div>

</div>


<div id="alertDialog" class="ui-dialog">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <div>
                <h4><b>提示！</b></h4>
                <div id="alertMsg">

                </div>
            </div>
        </div>
        <div class="ui-dialog-ft ui-btn-group">
            <button type="button" data-role="button" class="select" onclick="$('#alertDialog').dialog('hide');">关闭
            </button>
        </div>
    </div>
</div>

<!-- 引入 JS -->
<script src="js/zepto.min.js"></script>
<script src="js/frozen.js"></script>
<script src="js/vuejs/vue.min.js"></script>
<script src="js/data.js"></script>
<script type="text/javascript">
    var baseUrl = "http://35.162.53.147:8080/";

    var myApp = new Vue({
        el: "#app",
        data: {
            entity: getEmpEntity()
        },
    });

    function getEmpEntity() {
        return {name: '', type: 0, desc: '',address:''}
    }

    function saveCompany() {
        var req=myApp.entity;
        if(req.name==''){
            alert('请输入公司名称');
            return;
        }
        if(req.desc==''){
            alert('请输入公司描述');
            return;
        }
        $("#btn_commit").attr('disabled',true)
        var url=baseUrl + 'company/contribute';
        ajaxPost(url,req,function (r) {
            if(r.success){
                alert('操作成功,请耐心等待审核。');
                setTimeout(function () {
                    history.go(-1);
                },2000);
            }else {
                $("#btn_commit").attr('disabled',null);
                alert(r.msg)
            }
        })
    }

    function alert(msg) {
        $("#alertMsg").html(msg);
        $("#alertDialog").dialog("show");
    }

    function commentByMsg(msg) {
        var url = baseUrl + "info";
        var req = {
            "content": msg,
            "targetId": myApp.entity.id,
            "type": 0
        };

        ajaxPost(url, req, function (data) {
            closeComment();
            myApp.comments = data;
        });
    }


    function ajaxPost(url, data, successFunc) {
        $.ajax({
            url: url,
            type: 'POST',// 必须是POST
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(data),// 数据 必须是字符串
            dataType: 'json',// 期望返回类型 json, xml
            processData: false,// 防止 data 被预处理
            success: function (r) {
                successFunc(r);
            }
        });
    }
</script>
</body>
</html>
